
    .body {
        height: 2000px;
        background-color: gray;
    }

    .header {
        background-image: url("image/background/bg1.jpg");
        height: 600px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 600px;
    }

    .button {
        display: inline-block;
        padding: 1em;
        background-color: #79BD9A;
        text-decoration: none !important;
        color: white !important;
    }

    .header a {
        text-align: center;
        background: linear-gradient(45deg, #e61d36 0%,#f08138 100%);
    }
    .header .healthy a{
        text-align: center;
        background: linear-gradient(45deg, #00b359 0%,#006633 100%) !important;
    }

    .header .training a {
        text-align: center;
        background: linear-gradient(45deg, #e61d36 0%,#f08138 100%) !important;
    }

    .btnLogin{
        text-align: center;
        color: #fff;
        background-color: #008080;
        border-color: #008080;
        border-radius: 28px !important;
    }

    .btnLogin:hover {
       text-align: center;
       color: #fff;
       background-color: #006666;
       border-color: #006666;
       border-radius: 28px;
   }

