/*.header {
    background-image: url("image/background/bg1.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}*/
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #0d0d0d 0%, #1a1a1a 50%, #0d0d0d 100%) !important;
}

* {
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------------------------------------------*/


/* SLIDE & HOME*/


.button {
    display: inline-block;
    color: white !important;
}

.btnHome a{
    font-size: 11px;
}

@media (min-width: 768px){
    .button {
        display: inline-block;
        padding: 1em;
        background-color: #008060;
        color: white !important;
    }
    .btnHome a{
        font-size: 18px !important;
    }
}

@media (min-width: 576px){
    .button {
        display: inline-block;
        padding: 1em;
        background-color: #008060;
        color: white !important;
    }
    .btnHome a{
        font-size: 13px;
    }
}

.heightRowLoginSignUp span {
    text-align: center;
}

.btnSignUpHome {
    color: #ffa64d !important;
    text-decoration: none !important;
    font-size: 17px !important;
}

.heightRowLoginSignUp {
    height: 430px !important;
}

.heightRowLoginSignUp span {
    color: #fff !important;
}

.btnHome .training {
    text-align: center;
    background: linear-gradient(to right, #330000 , #800000);
    border-radius: 40px 0 0 40px;
}

.btnHome .healthy {
    text-align: center;
    background: linear-gradient(-90deg, #001a1a, #004d4d);
    border-radius: 0 40px 40px 0;
}

.btnLoginHome {
    text-align: center;
    color: #fff;
    background-color: #008080;
    border-color: #008080;
    border-radius: 28px !important;
}

.btnLoginHome:hover {
    background-color: #006666;
    border-color: #006666;
    color: #fff;
}

#activeSlideHome {
    background: none;
}

.btnSlideHome {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.bgHome {
    z-index: 2;
}

/* SLIDE HOME */

/*------------------------------------------------------------------------------------------------------------------------*/

/*  BLUR FORM LOG IN & SIGN UP  */

.bg-image {
    height: 100px;
    background-image: url("image/test/twoplank.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0.4, 0.4, 0.4, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center !important;
    height: 450px;
    width: 340px;
    background: linear-gradient(45deg, rgb(153, 0, 0) 0%, rgb(128, 0, 96) 100%) !important;
    opacity: 0.5;



    /* animation w3shools*/
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 15px;
}

@-webkit-keyframes example {
    from {
        top: -600px;
    }

    to {
        top: -300px;
    }
}

@keyframes example {
    from {
        top: -600px;
    }

    to {
        top: -300px;
    }
}
/* animation w3shools*/



.txtLogin input {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #ff8080 !important;
    background: 0 0 !important;
    background-color: initial;
    border-radius: 0;
    color: white !important;
    transition: none !important;
    margin: 0 auto;
    position: relative;
}

#txtLogin .form-control::placeholder {
    color: white !important;
    opacity: 0.6;
}

.iconUserNameLogin {
    top: 175px;
    position: absolute;
    right: 40px;
}

.iconPasswordLogin {
    top: 222px;
    position: absolute;
    right: 40px;
}

.iconFullNameSignUp {
    top: 133px;
    position: absolute;
    right: 40px;
}

.iconUserNameSignUp {
    top: 181px;
    position: absolute;
    right: 40px;
}

.iconPasswordSignUp {
    top: 228px;
    position: absolute;
    right: 40px;
}

.iconConfirmPasswordSignUp {
    top: 274px;
    position: absolute;
    right: 40px;
}

.btnSignUp {
    border-radius: 18px !important;
    color: #fff !important;
    font-weight: bold !important;
    background-color: #00bfff !important;
}

.btnLogin {
    border-radius: 18px !important;
    color: #009900 !important;
    font-weight: bold !important;
    background-color: white !important;
}

.linkSignUp {
    text-decoration: none !important;
    color: #00bfff !important;
}

.bg-text p {
    font-size: 12px !important;
}



/*  BLUR FORM LOG IN & SIGN UP  */

/*---------------------------------------------------------------------------------------------------------------------*/



/* CATEGORY BODY */

.rowCategory a{
    padding-top: 170px;
    font-family: Agency FB;
    font-size: 50px;
}

.cellCategory {
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.rowCategory .cellCategory:hover {
    z-index: 1;
    opacity: 1;
    box-shadow: 0 0 10px 0 #b30000;
}

#abs {
    background-image: url("image/ImageCategory/abs.jpg");
}

#bicep {
    background-image: url("image/ImageCategory/bicep.jpg");
}

#tricep {
    background-image: url("image/ImageCategory/tricep.jpg");
}

#leg {
    background-image: url("image/ImageCategory/leg.jpg");
}

#chest {
    background-image: url("image/ImageCategory/chest.jpg");
}

#shoulder {
    background-image: url("image/ImageCategory/shoulder.jpg");
}

#back {
    background-image: url("image/ImageCategory/back.jpg");
}

#forearms {
    background-image: url("image/ImageCategory/forearms.jpg");
}

#cardio {
    background-image: url("image/ImageCategory/cardio.jpg");
}



/*----------------------------------------------------------------------------------------------------*/


/* CONTACT & FOOTER */

.footer {
    height: auto;
    background-color: #222;
    color: #fff;
}

.main-founder {
    color: #fff;
    background-color: #222c37;
    text-align: center;
    font-family: Segoe UI;
}

a {
    text-decoration: none !important;
}

.content-info a:hover {
    color: #666 !important;
}

.content-info a i {
    font-size: 24px;
}

.main-founder h2 {
    margin: 10px 0 40px;
}

.card-wrapper .avatar {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 180px;
    width: 180px;
}

.avatar-circle:hover {
    border: 2px solid teal;
}

.avatar-xxlg {
    width: 180px;
    height: 180px;
}

.avatar-circle {
    border: 2px solid rgba(128, 0, 128, .5);
    padding: 2px;
    background-color: #fff;
    border-radius: 50%;
}

.content-info {
    margin-bottom: 50px;
}

.content-info>p,
b {
    color: #fff;
    text-align: center;
    display: block;
}

.content-info>p>a {
    transition: .2s ease-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color: #fff;
}

@media (min-width: 768px){
    .offsetInfo {
      margin-left: 13.433333%;
    }
}

/*----------------------------------------------------------------------------------------------------*/


/* POST of CATEGORY */

.headerPost {
    background-image: url("image/test/push-up.jpg");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 300px;
}

.btnGroupDay1{
    position: absolute; 
    top: 64%; 
}


.btnGroupDay2{
    position: absolute; 
    top: 62%; 
}

@media (min-width: 576px){
    .headerPost {
        background-image: url("image/test/push-up.jpg");
        height: 450px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 450px;
    }

    .btnGroupDay1{
        position: absolute; 
        top: 76%; 
    }

    .btnGroupDay2{
        position: absolute; 
        top: 74%; 
    }
}

@media (min-width: 768px){
    .headerPost {
        background-image: url("image/test/push-up.jpg");
        height: 800px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 800px;
    }

    .btnGroupDay1{
        position: absolute; 
        top: 87%; 
    }

    .btnGroupDay2{
        position: absolute; 
        top: 86%; 
    }
}

.btnGroupDay1  button{
    width: 88px;
    background: #004d4d;
    color: white;
}

.btnGroupDay1  button:hover{
    background: #993333;
}

.btnGroupDay2  button{
    width: 88px;
    background: #004d4d;
    color: white;
}

.btnGroupDay2  button:hover{
    background: #993333;
}

#imgExercise{
    background-image: url(docs/demo.jpg);
    height: auto;
    width: auto;
}

/*----------------------------------------------------------------------------------------------------*/


/*   POPUP SELECT LEVEL  */

#modalLevel{
    padding-left: 17px;
    font-family: Agency FB;
}

.result{
    border-top: 1px solid gray;
    font-size: 15px;
}

#selectLevel{
    height: 100px;
    padding-top: 2rem;
    font-size: 30px;
}

.level1{
    background: linear-gradient(#003333, #006666) !important;
    border-radius: 10px 0 0 10px;
}

.level2{
    background: linear-gradient(#33001a, #99004d) !important;
}

.level3{
    background: linear-gradient(#002233, #004466) !important;
    border-radius: 0 10px 10px 0;
}